Screen {
    layout: grid;
    grid-size: 1 2;
    grid-rows: 1fr 1;
    layers: base overlay;
}

#chat-view {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 0 0 0 0;
    scrollbar-size: 1 1;
}

#input-area {
    dock: bottom;
    margin: 0 0 2 0;
    width: 100%;
    height: auto;
}

.message {
    padding: 1 0 0 1;
    margin: 1 0 0 0;
    background: $panel;
    color: $text;
}

.message-user {
    text-align: right;
    background: $primary;
    color: $text;
}

.loading {
    background: red;
}

MessageInfo {
    height: auto;
    background: $surface;
    color: $text-muted;
    border: dashed $primary-darken-2;
    text-style: italic;
}


Throbber {
    layer: overlay;
    dock: top;
    width: 100%;
    height: 1;
    visibility: hidden;
    &.-busy {
        visibility: visible;
    }    
} 
