Screen {
    layout: grid;
    grid-size: 1 2;
    grid-rows: 1fr 1;
    layers: base overlay;
    background: #000000;
}

#chat-view {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 0 0 0 0;
    scrollbar-size: 1 1;
    background: #000000;
}

#input-area {
    dock: bottom;
    margin: 0 0 2 0;
    width: 100%;
    height: auto;
    background: #000000;
}

.message {
    padding: 1 0 0 1;
    margin: 1 0 0 0;
    background: #0a0a0a;
    color: #e0e0e0;
}

.message-user {
    text-align: right;
    background: #1a1a1a;
    color: #ffffff;
}

.loading {
    background: #1a1a1a;
}

MessageInfo {
    height: auto;
    background: #0a0a0a;
    color: #808080;
    border: dashed #333333;
    text-style: italic;
}

Throbber {
    layer: overlay;
    dock: top;
    width: 100%;
    height: 1;
    visibility: hidden;
    &.-busy {
        visibility: visible;
    }    
}
